<!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img style="width: 70% " src="../../../assets/img/sjelenomnaput.png"></a>
        <a class="btn btn-primary" href="#">Example Button 1</a>
        <a class="btn btn-primary" href="#">Example button 2</a>
        <a class="btn btn-primary" href="#">Example button 3</a>
        <a class="btn btn-primary" href="#">Example button 4</a>
      </div>
    </nav>