<section class="service-sec" id="benefits" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row" style="margin-top: 100px;">
          <div class="col-md-6 text-sm-center service-block" align="center">
            <button class="btn btn-default" [routerLink]="['/insurance']">Nova polisa <i class="fa fa-plus" aria-hidden="true"></i></button>
            <p>Pomoc klijentima u kojima se popunjavaju svi podaci vezani za osigruanike itd itd. Na kraju se preko pos terminala placa iznos.</p>
          </div>
          <!--<div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Reduces Weight</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Improves Mood</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
            <h3>Boosts Energy</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>-->
        </div>
      </div>
      <div class="col-md-8"> <img src="../../../assets/img/business.jpg" width="1400" class="img-fluid" /> </div>
    </div>
    <!-- /.row -->
  </div>
</section>

