.ui-steps .ui-steps-item {
            width: 25%;
        }

        .ui-steps.steps-custom {
            margin-bottom: 30px;
        }

        .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
            height: 10px;
            padding: 0 1em;
        }

        .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
            background-color: #0081c2;
            color: #FFFFFF;
            display: inline-block;
            width: 36px;
            border-radius: 50%;
            margin-top: -14px;
            margin-bottom: 10px;
        }

        .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
            color: #555555;
        }

.calendarStyleClass {
    width: 292px;
    color: #0081c2;
    text-align: left; 
}

.calendar2StyleClass {
    width: 323px;
}

.col-lg-3 {
    text-align: right; 
}

body {
    color: #0081c2;
}

.col-lg-4 .ui-dropdown-label {
    color: #0081c2;
    text-align: left; 
}

.col-lg-4 .ui-dropdown-item {
    color: #0081c2;
    text-align: left; 
}


.ui-spinner-input {
    color: #0081c2;
}

.ui-button-success {
    width: 150px; 
    height: 40px; 
    margin-right: -347px; 
    border-radius: 12px; 
}
