<div class="container">
  <p-steps [model]="items" [(activeIndex)] = "activeIndex"></p-steps>
  <!-- DIV za prvi korak -->
  <div class="container" style="padding: 20px" *ngIf="activeIndex == 0" align="center">
    <form [formGroup]="form1" class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Destinacija:</label>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="destinacije" formControlName="destinacija" [(ngModel)]="form1Data.destinacija"
                        [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Vrsta osiguravajućeg paketa:</label><br>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="vrstePaketa" formControlName="vrstaPaketa" [(ngModel)]="form1Data.vrstaPaketa" [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
      </div>

      <!--Polje koje se odnosi samo na individualni osiguravajuci paket-->
      <div [hidden]="form1.value.vrstaPaketa === 'grupno'">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Uzrast lica koje putuje: </label><br>
            </div>
            <div class="col-lg-4">
              <p-dropdown [options]="starost" formControlName="starost" [(ngModel)]="form1Data.starost"
                          [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <!--****************************************************************-->

      <!--Dva dodatna polja pri odabiru grupnog osiguravajuceg paketa-->
      <div [hidden]="form1.value.vrstaPaketa === 'individualno'">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj starijih lica (71 - vise):</label><br>
            </div>
            <div class="col-lg-4">
              <p-spinner size="35" formControlName="brojStarijih" [(ngModel)]="form1Data.brojStarijih" [min]="0"
                         [max]="10"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj odraslih (19 - 70 godina):</label><br>
            </div>
            <div class="col-lg-4">
              <p-spinner size="35" formControlName="brojOdraslih" [(ngModel)]="form1Data.brojOdraslih" [min]="0"
                         [max]="10"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj dece (0 - 18 godina):</label><br>
            </div>
            <div class="col-lg-4">
              <p-spinner size="35" formControlName="brojDece" [(ngModel)]="form1Data.brojDece" [min]="0"
                         [max]="10"></p-spinner>
            </div>
          </div>
        </div>
      </div>
      <!--****************************************************************-->

      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Početak osiguranja:</label><br>
          </div>
          <div class="col-lg-4">
            <p-calendar formControlName="pocetakOsiguranja" [(ngModel)]="form1Data.pocetakOsiguranja"
                        inputStyleClass="calendarStyleClass"></p-calendar>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Trajanje osiguranja (u danima):</label><br>
          </div>
          <div class="col-lg-4">
            <p-spinner size="35" formControlName="trajanjeOsiguranja" [(ngModel)]="form1Data.trajanjeOsiguranja"
                       [min]="1" [max]="100"></p-spinner>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div>
          <button pButton [disabled]="!form1.valid" class="ui-button-success" (click)="submitForm1()" type="text" label="Sledeci korak"></button>
        </div>
      </div>
    </form>
  </div>
  <!-- DIV za drugi korak -->
  <div class="container" style="padding: 20px" *ngIf="activeIndex == 1" align="center">
    <form (ngSubmit)="onSubmitStepTwo(ff)" #ff="ngForm">
      <div *ngFor="let b of groupIterNiz; let i = index">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Ime:</label>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="ime{{i}}" ngModel required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Prezime:</label></div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="prezime{{i}}" ngModel required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">JMBG:</label></div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="jmbg{{i}}" ngModel required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Adresa:</label></div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="adresa{{i}}" ngModel required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj pasosa:</label></div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="brojPasosa{{i}}" ngModel required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Datum rodjenja:</label>
            </div>
            <div class="col-md-4">
              <p-calendar name="datumRodjenja{{i}}" ngModel  inputStyleClass="calendarStyleClass"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj telefona:</label>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="brojTelefona{{i}}" ngModel required>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div>
          <button pButton [disabled]="!form1.valid" class="ui-button-success" type="text" (click)="previous()" label="Prethodni korak"></button>
          <button pButton [disabled]="!form1.valid" class="ui-button-success" type="submit" label="Sledeci korak"></button>
        </div>
      </div>
    </form>
  </div>
</div>
