<div class="container-fluid forms-container">
  <p-steps [model]="items" [(activeIndex)]="activeIndex" styleClass="steps-custom"></p-steps>
  <br>
  <hr>
  <!-- DIV za prvi korak -->
  <div class="container" style="padding: 40px" *ngIf="activeIndex == 0" align="center">
    <form [formGroup]="form1" class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3" >
            <label class="control-label" >Destinacija:</label>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="destinacije" formControlName="destinacija" [(ngModel)]="form1Data.destinacija" [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Vrsta osiguravajućeg paketa:</label><br>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="vrstePaketa" formControlName="vrstaPaketa" [(ngModel)]="form1Data.vrstaPaketa" [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
      </div>

      <!--Polje koje se odnosi samo na individualni osiguravajuci paket-->
      <div [hidden]="form1.value.vrstaPaketa === 'grupno'">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Uzrast lica koje putuje: </label><br>
            </div>
            <div class="col-lg-4">
              <p-dropdown [options]="starost" formControlName="starost" [(ngModel)]="form1Data.starost" [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <!--****************************************************************-->

      <!--Tri dodatna polja pri odabiru grupnog osiguravajuceg paketa-->
      <div [hidden]="form1.value.vrstaPaketa === 'individualno'">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj starijih lica (71 - vise):</label><br>
            </div>
            <div class="col-lg-4">

              <p-spinner size="35" formControlName="brojStarijih" [(ngModel)]="form1Data.brojStarijih" [min]="0"
                         [max]="10" ></p-spinner>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj odraslih (19 - 70 godina):</label><br>
            </div>
            <div class="col-lg-4">
              <p-spinner size="35" formControlName="brojOdraslih" [(ngModel)]="form1Data.brojOdraslih" [min]="0" [max]="10"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj dece (0 - 18 godina):</label><br>
            </div>
            <div class="col-lg-4">

              <p-spinner size="35" formControlName="brojDece" [(ngModel)]="form1Data.brojDece" [min]="0"
                         [max]="10" ></p-spinner>

            </div>
          </div>
        </div>
      </div>
      <!--****************************************************************-->

      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Početak osiguranja:</label><br>
          </div>

          <div class="col-lg-4" style="margin-left: -16px">
            <p-calendar size="35" formControlName="pocetakOsiguranja" [(ngModel)]="form1Data.pocetakOsiguranja"
             inputStyleClass="calendarStyleClass" [showIcon]="true"  ></p-calendar>


          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Trajanje osiguranja (u danima):</label><br>
          </div>

          <div class="col-lg-4" >
            <p-spinner size="34" formControlName="trajanjeOsiguranja" [(ngModel)]="form1Data.trajanjeOsiguranja"
                       [min]="1" [max]="100"></p-spinner>

          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div>

          <button pButton [disabled]="!form1.valid" class="ui-button-warning" (click)="stepSubmit()" type="submit" label="Sledeci korak" ></button>

        </div>
      </div>
    </form>
  </div>

  <!-- DIV za drugi korak -->
  <!--<div class="container" style="padding: 20px" *ngIf="activeIndex == 1" align="center">-->
    <!--<form (ngSubmit)="onSubmitStepTwo(ff)" #ff="ngForm"   class="form-horizontal">-->
      <!--<div *ngFor="let b of groupIterNiz; let i = index" [formGroup]="form2">-->
        <!--<h4 class="pull-left" style="font-family: Impact;color: #55535b">{{'Osiguranik: ['+(i+1)+']'}}</h4><br><br>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">Ime:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
              <!--<input class="form-control" formControlName="ime" [(ngModel)]="form2Data.ime" type="text">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">Prezime:</label></div>-->
              <!--<div class="col-lg-4">-->
                <!--<input class="form-control" formControlName="prezime" [(ngModel)]="form2Data.prezime" type="text">-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">JMBG:</label></div>-->
              <!--<div class="col-lg-4">-->
                <!--<input class="form-control" formControlName="jmbg" [(ngModel)]="form2Data.jmbg" type="text">-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">Adresa:</label></div>-->
              <!--<div class="col-lg-4">-->
                <!--<input class="form-control" formControlName="adresa" [(ngModel)]="form2Data.adresa" type="text">-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">Broj pasosa:</label></div>-->
              <!--<div class="col-lg-4">-->
                <!--<input class="form-control" formControlName="brojPasosa" [(ngModel)]="form2Data.brojPasosa" type="text">-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">Datum rodjenja:</label>-->
            <!--</div>-->

            <!--<div class="col-lg-4" style="margin-left: -16px">-->
              <!--<p-calendar size="35" formControlName="datumRodjenja" [(ngModel)]="form2Data.datumRodjenja"-->
               <!--inputStyleClass="calendar1StyleClass" [showIcon]="true"  ></p-calendar>-->
            <!--</div>-->


          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-2"></div>-->
            <!--<div class="col-lg-3">-->
              <!--<label class="control-label">Broj telefona:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
              <!--<input class="form-control" formControlName="brojTelefona" [(ngModel)]="form2Data.brojTelefona" type="text">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label class="col-md-1 control-label"></label>-->
        <!--<div>-->
          <!--<button pButton [disabled]="!form1.valid" class="ui-button-success" type="submit" (click)="previous()" label="Prethodni korak"></button>-->
          <!--<button pButton [disabled]="!form2.valid" class="ui-button-success" type="submit" label="Sledeci korak"></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->




  <!--DIV ZA TRECI KORAK-->

  <!--<div *ngIf="activeIndex == 2">-->

    <!--<button pButton class="ui-button-primary" type="text" (click)="showForm3 = !showForm3" label="Osiguranje vozila"></button>-->
    <!--<button pButton class="ui-button-primary" type="text" (click)="showForm4 = !showForm4" label="Osiguranje nekretnine"></button>-->


  <!--&lt;!&ndash;PRIKAZ PODATAKA O OSIGURANJIMA VOZILA&ndash;&gt;-->
  <!--<div style="margin-top: 20px" [hidden]="osiguranjaVozila.length === 0">-->
    <!--<p-dataTable [value]="osiguranjaVozila" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]">-->

      <!--<p-header>Osiguranja vozila</p-header>-->
      <!--&lt;!&ndash;ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search"&ndash;&gt;-->
      <!--<p-column *ngFor="let col of osiguranjaVozilaKolone" [field]="col.field" [header]="col.header"></p-column>-->

      <!--<p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">-->
        <!--<ng-template pTemplate="header">-->
          <!--<header>Obriši</header>-->
        <!--</ng-template>-->
        <!--<ng-template let-formaOsiguranjaVozila="rowData" pTemplate="body">-->
          <!--<button type="button" class="ui-button-danger" (click)="obrisiOsiguranjeVozila(formaOsiguranjaVozila)" pButton icon="fa-times"-->
            <!--iconPos="left"></button>-->
        <!--</ng-template>-->
      <!--</p-column>-->
    <!--</p-dataTable>-->
  <!--</div>-->

  <!--<div class="container" [hidden]="!showForm3" style="padding: 20px" align="center">-->

    <!--&lt;!&ndash;FORMA ZA OSIGURANJE VOZILA&ndash;&gt;-->
    <!--<form [formGroup]="form3" class="form-horizontal">-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Marka i tip vozila:</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="markaITip" [(ngModel)]="form3Data.markaITip" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Godina proizvodnje:</label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-calendar formControlName="godinaProizvodnje" [(ngModel)]="form3Data.godinaProizvodnje" inputStyleClass="calendarStyleClass"></p-calendar>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Broj tablica: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="brojTablica" [(ngModel)]="form3Data.brojTablica" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Broj šasije: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="brojSasije" [(ngModel)]="form3Data.brojSasije" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Ime vlasnika: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="imeVlasnika" [(ngModel)]="form3Data.imeVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Prezime vlasnika: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="prezimeVlasnika" [(ngModel)]="form3Data.prezimeVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">JMBG Vlasnika: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="jmbgVlasnika" [(ngModel)]="form3Data.jmbgVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Paket osiguranja: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-dropdown [options]="paketiOsiguranja" formControlName="paketOsiguranja" [(ngModel)]="form3Data.paketOsiguranja" [style]="{'width':'100%'}"></p-dropdown>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;Opciona polja u zavisnosti od izbora paketa osiguranja&ndash;&gt;-->
      <!--<div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'slepovanje'">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Broj kilometara za šlepovanje: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-spinner size="35" formControlName="slepovanje" [(ngModel)]="form3Data.slepovanje" [min]="1" [max]="10000"></p-spinner>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'popravka'">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Cena popravke (dinari): </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-spinner size="35" formControlName="popravka" [(ngModel)]="form3Data.popravka" [min]="1" [max]="1000000"></p-spinner>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'smestaj'">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Smeštaj u hotelu (dani): </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-spinner size="35" formControlName="smestaj" [(ngModel)]="form3Data.smestaj" [min]="1" [max]="1000000"></p-spinner>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'prevoz'">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Vrsta alternativnog prevoza: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-dropdown [options]="vrsteAlternativnogPrevoza" formControlName="prevoz" [(ngModel)]="form3Data.prevoz" [style]="{'width':'100%'}"></p-dropdown>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;**********************************************************&ndash;&gt;-->
      <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label"></label>-->
        <!--<div>-->
          <!--<button pButton [disabled]="!form3.valid" class="ui-button-success" type="submit" (click)="dodajOsiguranjeVozila()" label="Dodaj osiguranje vozila"></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

  <!--&lt;!&ndash;PODACI O OSIGURANJU NEKRETNINA&ndash;&gt;-->
  <!--<div style="margin-top: 20px" [hidden]="osiguranjaNekretnina.length === 0">-->
    <!--<p-dataTable [value]="osiguranjaNekretnina" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]">-->

      <!--<p-header>Osiguranja nekretnina</p-header>-->
      <!--&lt;!&ndash;ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search"&ndash;&gt;-->
      <!--<p-column *ngFor="let col of osiguranjaNekretninaKolone" [field]="col.field" [header]="col.header"></p-column>-->

      <!--<p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">-->
        <!--<ng-template pTemplate="header">-->
          <!--<header>Obriši</header>-->
        <!--</ng-template>-->
        <!--<ng-template let-formaOsiguranjaVozila="rowData" pTemplate="body">-->
          <!--<button type="button" class="ui-button-danger" (click)="obrisiOsiguranjeNekretnine(formaOsiguranjaNekretnine)" pButton icon="fa-times"-->
            <!--iconPos="left"></button>-->
        <!--</ng-template>-->
      <!--</p-column>-->
    <!--</p-dataTable>-->
  <!--</div>-->

  <!--<div class="container" [hidden]="!showForm4" style="padding: 20px" align="center">-->

    <!--&lt;!&ndash;FORMA ZA OSIGURANJE NEKRETNINA&ndash;&gt;-->
    <!--<form [formGroup]="form4" class="form-horizontal">-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Površina stana (m2):</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-spinner size="35" formControlName="povrsinaStana" [(ngModel)]="form4Data.povrsinaStana" [min]="1" [max]="5000"></p-spinner>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Starost stana (godine):</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-spinner size="35" formControlName="starostStana" [(ngModel)]="form4Data.starostStana" [min]="1" [max]="200"></p-spinner>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Procenjena vrednost stana (RSD):</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-spinner size="35" formControlName="procenjenaVrednostStana" [(ngModel)]="form4Data.procenjenaVrednostStana" [min]="0" [max]="10"></p-spinner>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Od čega se osigurava:</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<p-dropdown [options]="osiguranjaStana" formControlName="osiguranjeStana" [(ngModel)]="form4Data.osiguranjeStana" [style]="{'width':'100%'}"></p-dropdown>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Ime vlasnika:</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
               <!--<input class="form-control" formControlName="imeVlasnika" [(ngModel)]="form4Data.imeVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Prezime vlasnika: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="prezimeVlasnika" [(ngModel)]="form4Data.prezimeVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">JMBG Vlasnika: </label><br>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
            <!--<input class="form-control" formControlName="jmbgVlasnika" [(ngModel)]="form4Data.jmbgVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
     <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-2"></div>-->
          <!--<div class="col-lg-3">-->
            <!--<label class="control-label">Adresa vlasnika:</label>-->
          <!--</div>-->
          <!--<div class="col-lg-4">-->
               <!--<input class="form-control" formControlName="adresaVlasnika" [(ngModel)]="form4Data.adresaVlasnika" type="text">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label"></label>-->
        <!--<div>-->
          <!--<button pButton [disabled]="!form4.valid" class="ui-button-success" type="submit" (click)="dodajOsiguranjeNekretnine()" label="Dodaj osiguranje nekretnine"></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--</div>-->

  <!-- DIV za drugi korak -->
  <div class="container" style="padding: 20px" *ngIf="activeIndex == 1" align="center">
    <form (ngSubmit)="onSubmitStepTwo(ff)" #ff="ngForm"   class="form-horizontal">
      <div *ngFor="let b of groupIterNiz; let i = index">
        <h4 class="pull-left" style="font-family: Impact;color: #55535b">{{'Osiguranik: ['+(i+1)+']'}}</h4><br><hr>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Ime:</label>
            </div>
            <div class="col-lg-4">
              <input class="form-control" required [ngModel]="form2Data.ime" type="text" #ime="ngModel" name="ime{{i}}">
              <div style="color: red; font-weight: 300" class="form-control-feedback"
                   *ngIf="!ime.valid && ime.touched">
                Polje je obavezno
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Prezime:</label></div>
            <div class="col-lg-4">
              <input class="form-control" name="prezime{{i}}" required #prezime="ngModel" [ngModel]="form2Data.prezime" type="text">
              <div style="color: red; font-weight: 300" class="form-control-feedback"
                   *ngIf="!prezime.valid && prezime.touched">
                Polje je obavezno
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">JMBG:</label></div>
            <div class="col-lg-4">
              <input class="form-control" #jmbg="ngModel" minlength="13" maxlength="13" required name="jmbg{{i}}" [ngModel]="form2Data.jmbg" type="text" pattern="[0-9]*">
              <div style="color: red; font-weight: 300" class="form-control-feedback"
                   *ngIf="jmbg.errors && (jmbg.dirty || jmbg.touched)">
                <span *ngIf="jmbg.errors.required">Polje je obavezno</span>
                <span *ngIf="jmbg.errors.minlength">JMBG ima tacno 13 brojeva, potrebno je uneti jos {{jmbg.errors.minlength.requiredLength - jmbg.errors.minlength.actualLength}} broj/a/eva </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Adresa:</label></div>
            <div class="col-lg-4">
              <input class="form-control" #adresa="ngModel" required name="adresa{{i}}" [ngModel]="form2Data.adresa" type="text">
              <div style="color: red; font-weight: 300" class="form-control-feedback"
                   *ngIf="!adresa.valid && adresa.touched">
                Polje je obavezno
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj pasosa:</label></div>
            <div class="col-lg-4">
              <input class="form-control" #brojPasosa="ngModel" required minlength="7" maxlength="7" name="brojPasosa{{i}}" [ngModel]="form2Data.brojPasosa" type="text">
              <div style="color: red; font-weight: 300" class="form-control-feedback"
                   *ngIf="brojPasosa.errors && (brojPasosa.dirty || brojPasosa.touched)">
                <span *ngIf="brojPasosa.errors.required">Polje je obavezno</span>
                <span *ngIf="brojPasosa.errors.minlength">Broj pasosa ima tacno 7 brojeva, potrebno je uneti jos {{brojPasosa.errors.minlength.requiredLength - brojPasosa.errors.minlength.actualLength}} broj/a/eva </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj telefona:</label>
            </div>
            <div class="col-lg-4">
              <input class="form-control" #brojTelefona="ngModel" required pattern="[0-9]" name="brojTelefona{{i}}" [ngModel]="form2Data.brojTelefona" type="text">
              <div style="color: red; font-weight: 300" class="form-control-feedback"
                   *ngIf="!brojTelefona.valid && brojTelefona.touched">
                Polje je obavezno
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div>
          <button pButton class="ui-button-warning" type="text" (click)="previous()" label="Prethodni korak"></button>
          <button pButton class="ui-button-warning" type="submit" label="Sledeci korak"></button>
        </div>
      </div>
    </form>
  </div>

  <!--DIV ZA TRECI KORAK-->

  <div *ngIf="activeIndex == 2">
    <div style="margin-top: 20px;" align="center">
      <button pButton class="ui-button-primary" type="text" (click)="onShowCarDialog()"
              label="Osiguranje vozila" icon="fa-plus"></button>
      <button pButton class="ui-button-primary" type="text" (click)="onShowHomeDialog()"
              label="Osiguranje nekretnine" icon="fa-plus"></button>
    </div>

    <div align="center" style="margin-top: 30px;">
      <h3 *ngIf="osiguranjaNekretnina.length == 0 && osiguranjaVozila.length == 0">Ukoliko niste zainteresovani za dodatna osiguranja stisnite dugme 'Sledeci korak'</h3>
    </div>

    <!-- Dijalozi za dodavanje novih osiguranja -->
    <p-dialog [(visible)]="showCarDialog">
      <p-header>
        Novo osiguranje vozila
      </p-header>
      <div class="container-fluid">
        <form [formGroup]="form3" class="form-horizontal" style="width: 500px;">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Marka i tip vozila:</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="markaITip" [(ngModel)]="form3Data.markaITip" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Godina proizvodnje:</label><br>
              </div>
              <div class="col-lg-8">
                <p-calendar formControlName="godinaProizvodnje" [(ngModel)]="form3Data.godinaProizvodnje" size="35" [showIcon]="true" inputStyleClass="calendarStyleClass"></p-calendar>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Broj tablica: </label><br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="brojTablica" [(ngModel)]="form3Data.brojTablica"
                       type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Broj šasije: </label><br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="brojSasije" [(ngModel)]="form3Data.brojSasije" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Ime vlasnika: </label><br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="imeVlasnika" [(ngModel)]="form3Data.imeVlasnika"
                       type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Prezime vlasnika: </label><br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="prezimeVlasnika" [(ngModel)]="form3Data.prezimeVlasnika"
                       type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">JMBG Vlasnika: </label><br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="jmbgVlasnika" [(ngModel)]="form3Data.jmbgVlasnika"
                       type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Paket osiguranja: </label><br>
              </div>
              <div class="col-lg-8">
                <p-dropdown [options]="paketiOsiguranja" formControlName="paketOsiguranja"
                            [(ngModel)]="form3Data.paketOsiguranja" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
          </div>
          <!--Opciona polja u zavisnosti od izbora paketa osiguranja-->
          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'slepovanje'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Broj kilometara za šlepovanje: </label><br>
              </div>
              <div class="col-lg-8">
                <p-spinner size="35" formControlName="slepovanje" [(ngModel)]="form3Data.slepovanje" [min]="1"
                           [max]="10000"></p-spinner>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'popravka'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Cena popravke (dinari): </label><br>
              </div>
              <div class="col-lg-8">
                <p-spinner size="35" formControlName="popravka" [(ngModel)]="form3Data.popravka" [min]="1"
                           [max]="1000000"></p-spinner>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'smestaj'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Smeštaj u hotelu (dani): </label><br>
              </div>
              <div class="col-lg-8">
                <p-spinner size="35" formControlName="smestaj" [(ngModel)]="form3Data.smestaj" [min]="1"
                           [max]="1000000"></p-spinner>
              </div>
            </div>
          </div>

          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'prevoz'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Vrsta alternativnog prevoza: </label><br>
              </div>
              <div class="col-lg-8">
                <p-dropdown [options]="vrsteAlternativnogPrevoza" formControlName="prevoz"
                            [(ngModel)]="form3Data.prevoz"
                            [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
          </div>
          <!--**********************************************************-->
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div align="center">
              <button pButton [disabled]="!form3.valid" class="ui-button-primary" type="submit"
                      (click)="dodajOsiguranjeVozila()" label="Dodaj osiguranje vozila"></button>
            </div>
          </div>
        </form>
      </div>
    </p-dialog>
    <p-dialog header="Novo osiguranje nekretnine" [(visible)]="showHomeDialog">
      <form [formGroup]="form4" class="form-horizontal" style="width: 500px;">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Površina stana (m2):</label>
            </div>
            <div class="col-lg-8">
              <p-spinner size="35" formControlName="povrsinaStana" [(ngModel)]="form4Data.povrsinaStana" [min]="1"
                         [max]="5000"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Starost stana (godine):</label>
            </div>
            <div class="col-lg-8">
              <p-spinner size="35" formControlName="starostStana" [(ngModel)]="form4Data.starostStana" [min]="1"
                         [max]="200"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Procenjena vrednost stana (RSD):</label>
            </div>
            <div class="col-lg-8">
              <p-spinner size="35" formControlName="procenjenaVrednostStana"
                         [(ngModel)]="form4Data.procenjenaVrednostStana" [min]="0" [max]="10"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Od cega se osigurava:</label>
            </div>
            <div class="col-lg-8">
              <p-dropdown [options]="osiguranjaStana" formControlName="osiguranjeStana"
                          [(ngModel)]="form4Data.osiguranjeStana" [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Ime vlasnika:</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" formControlName="imeVlasnika" [(ngModel)]="form4Data.imeVlasnika" type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Prezime vlasnika: </label><br>
            </div>
            <div class="col-lg-8">
              <input class="form-control" formControlName="prezimeVlasnika" [(ngModel)]="form4Data.prezimeVlasnika"
                     type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">JMBG Vlasnika: </label><br>
            </div>
            <div class="col-lg-8">
              <input class="form-control" formControlName="jmbgVlasnika" [(ngModel)]="form4Data.jmbgVlasnika"
                     type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Adresa vlasnika:</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" formControlName="adresaVlasnika" [(ngModel)]="form4Data.adresaVlasnika"
                     type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div align="center">
            <button pButton [disabled]="!form4.valid" class="ui-button-primary" type="submit"
                    (click)="dodajOsiguranjeNekretnine()" label="Dodaj osiguranje nekretnine"></button>
          </div>
        </div>
      </form>
    </p-dialog>

    <!--PRIKAZ PODATAKA O OSIGURANJIMA VOZILA-->
    <div style="margin-top: 20px" [hidden]="osiguranjaVozila.length === 0">
      <p-dataTable [value]="osiguranjaVozila" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3"
                   [rowsPerPageOptions]="[5,10,15]">

        <p-header>Osiguranja vozila</p-header>
        <!--ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search"-->
        <p-column *ngFor="let col of osiguranjaVozilaKolone" [field]="col.field" [header]="col.header"></p-column>

        <p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">
          <ng-template pTemplate="header">
            <header>Obriši</header>
          </ng-template>
          <ng-template let-formaOsiguranjaVozila="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" (click)="obrisiOsiguranjeVozila(formaOsiguranjaVozila)"
                    pButton icon="fa-times"
                    iconPos="left"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <!--PODACI O OSIGURANJU NEKRETNINA-->
    <div style="margin-top: 20px" [hidden]="osiguranjaNekretnina.length === 0">
      <p-dataTable [value]="osiguranjaNekretnina" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3"
                   [rowsPerPageOptions]="[5,10,15]">

        <p-header>Osiguranja nekretnina</p-header>
        <!--ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search"-->
        <p-column *ngFor="let col of osiguranjaNekretninaKolone" [field]="col.field" [header]="col.header"></p-column>

        <p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">
          <ng-template pTemplate="header">
            <header>Obriši</header>
          </ng-template>
          <ng-template let-formaOsiguranjaVozila="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger"
                    (click)="obrisiOsiguranjeNekretnine(formaOsiguranjaNekretnine)" pButton icon="fa-times"
                    iconPos="left"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="form-group" align="center">
      <label class="col-md-3 control-label"></label>
      <div>
        <button pButton class="ui-button-warning" type="text" (click)="previous()" label="Prethodni korak"></button>
        <button pButton class="ui-button-warning" type="submit" (click)="stepSubmit()" label="Sledeci korak"></button>
      </div>
    </div>
  </div>



  <div class="container" *ngIf="activeIndex==3">
    <div class="row">

      <div class="receipt-main">

              <div class="receipt-left">
                <h1>Racun</h1>
              </div>

        <div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Osiguranje</th>
              <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="col-md-9">Medjunarodno putno osiguranje</td>
              <td class="col-md-3"><i class="fa fa-inr"></i> 15,000/-</td>
            </tr>
            <tr>
              <td class="col-md-9">Osiguranje vozila</td>
              <td class="col-md-3"><i class="fa fa-inr"></i> 6,00/-</td>
            </tr>
            <tr>
              <td class="col-md-9">Osiguranje nekretnine</td>
              <td class="col-md-3"><i class="fa fa-inr"></i> 35,00/-</td>
            </tr>
            <tr>
              <td class="text-right">
                <p>
                  <strong>Total Amount: </strong>
                </p>
                <p>
                  <strong>Late Fees: </strong>
                </p>
                <p>
                  <strong>Payable Amount: </strong>
                </p>
                <p>
                  <strong>Balance Due: </strong>
                </p>
              </td>
              <td>
                <p>
                  <strong><i class="fa fa-inr"></i> 65,500/-</strong>
                </p>
                <p>
                  <strong><i class="fa fa-inr"></i> 500/-</strong>
                </p>
                <p>
                  <strong><i class="fa fa-inr"></i> 1300/-</strong>
                </p>
                <p>
                  <strong><i class="fa fa-inr"></i> 9500/-</strong>
                </p>
              </td>
            </tr>
            <tr>

              <td class="text-right"><h2><strong>Total: </strong></h2></td>
              <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> 31.566/-</strong></h2></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="receipt-header receipt-header-mid receipt-footer">
            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
              <div class="receipt-right">
                <p><b>Date :</b> 08 Dec 2017</p>
                <h5 style="color: rgb(140, 140, 140);">Thank you for your business!</h5>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <div class="receipt-left">
                <h1>Signature</h1>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
